accelerate==1.11.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types @ file:///work/perseverance-python-buildout/croot/annotated-types_1728386958747/work
anyio==4.11.0
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
attrs==25.4.0
bitsandbytes==0.48.2
boltons @ file:///croot/boltons_1751383775419/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
certifi @ file:///home/task_175978569032317/conda-bld/certifi_1759786061720/work/certifi
cffi @ file:///home/task_176009805548162/conda-bld/cffi_1760098067589/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1744271578095/work
conda @ file:///home/task_176045791080537/conda-bld/conda_1760457922380/work/conda-src
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1728487058234/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1751307506088/work
cryptography @ file:///home/task_176010605113983/conda-bld/cryptography-split_1760106309120/work
datasets==4.3.0
dill==0.4.0
distro @ file:///work/perseverance-python-buildout/croot/distro_1728396110052/work
einops==0.8.1
filelock==3.20.0
frozendict @ file:///work/perseverance-python-buildout/croot/frozendict_1728497542215/work
frozenlist==1.8.0
fsspec==2025.9.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
jaraco.classes @ file:///croot/jaraco.classes_1755516327832/work
jaraco.context @ file:///io/perseverance-python-buildout/croot/jaraco.context_1731706750665/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2==3.1.6
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728399595941/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
kernels==0.11.0
keyring @ file:///croot/keyring_1745484691218/work
libmambapy @ file:///home/task_175762302885340/conda-bld/mamba-split_1757623046707/work/libmambapy
markdown-it-py @ file:///croot/markdown-it-py_1756299186942/work
MarkupSafe==3.0.3
mdurl @ file:///home/task_175855216352428/conda-bld/mdurl_1758552176751/work
menuinst @ file:///croot/menuinst_1753464582829/work
more-itertools @ file:///home/task_176112148319406/conda-bld/more-itertools_1761121494880/work
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.16
networkx==3.5
numpy==2.3.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
packaging @ file:///home/task_176104878999627/conda-bld/packaging_1761049078606/work
pandas==2.3.3
peft==0.17.1
pkce @ file:///work/perseverance-python-buildout/croot/pkce_1728388093137/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
pluggy @ file:///croot/pluggy_1733169602837/work
propcache==0.4.1
psutil==7.1.3
pyarrow==22.0.0
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///home/task_175749564936714/conda-bld/pycparser_1757496040682/work
pydantic @ file:///home/task_176069749099755/conda-bld/pydantic_1760697502973/work
pydantic-settings @ file:///home/task_175878416925449/conda-bld/pydantic-settings_1758784193926/work
pydantic_core @ file:///home/task_176059738185733/conda-bld/pydantic-core_1760597433577/work
Pygments @ file:///croot/pygments_1744664109463/work
PyJWT @ file:///io/buildout/croot/pyjwt_1739558969999/work
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
python-dateutil==2.9.0.post0
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
pytz==2025.2
PyYAML==6.0.3
readchar @ file:///home/task_176061336965958/conda-bld/readchar_1760613437376/work
regex==2025.10.23
requests @ file:///croot/requests_1756709366904/work
rich @ file:///home/task_176037557612320/conda-bld/rich_1760375632000/work
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
safetensors==0.6.2
SecretStorage @ file:///home/task_175793143758247/conda-bld/secretstorage_1757931467244/work
semver @ file:///croot/semver_1736540782504/work
sentencepiece==0.2.1
setuptools==80.9.0
shellingham @ file:///work/perseverance-python-buildout/croot/shellingham_1728395303315/work
six==1.17.0
sniffio==1.3.1
sympy==1.14.0
tokenizers==0.22.1
tomli @ file:///croot/tomli_1753774587605/work
torch==2.9.0
tqdm @ file:///croot/tqdm_1738943501192/work
transformers==4.57.1
triton==3.5.0
truststore @ file:///croot/truststore_1753907171582/work
typer @ file:///home/task_175758067631213/conda-bld/typer_1757580709537/work
typing-inspection @ file:///home/task_176061348700415/conda-bld/typing-inspection_1760614166875/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata==2025.2
urllib3 @ file:///croot/urllib3_1750775463400/work
wheel==0.45.1
xxhash==3.6.0
yarl==1.22.0
zstandard @ file:///home/task_175818846949212/conda-bld/zstandard_1758189073015/work
